@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.4;
  background: #000000;
}
.banner-heading {
  font-size: 80px;
  line-height: 1.1;
  font-weight: 700;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}
